<!-- 
  @Author: echo.suisui echojarn@gmail.com
  @Date:   2022-11-20 02:43:05
  @Last Modified by:   echo.suisui echojarn@gmail.com
  @Last Modified time: 2022-11-21 17:23:27
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POST Params</title>
</head>
<body>

----儿童健康管理饮食推荐网站，本网站包括3个功能模块，分别是注册信息、菜品推荐和每日食谱模块。</br>
--注册信息模块用于帮助用户注册自己的个人账号并完善个人基本信息，点击注册信息即可进入该功能模块，用户可根据网站提示填写性别、年龄、身高、体重等个人基本的生理指标，请注意个人信息的填写格式，网站会将其作为用户饮食个性化推荐指标。</br>
--菜品推荐模块可以根据用户的基本信息推荐菜品，点击菜品推荐即可进入该功能模块，本网站收集了7万余条菜品数据，用户输入个人账号和所需推荐菜品数量即可获得符合其每日营养所需的个性化菜品。</br>
--每日食谱模块可以根据用户的基本信息推荐营养均衡、搭配合理的一日食谱，点击每日食谱即可进入该功能模块，用户输入个人账号和所需推荐食谱天数，即可获得符合其每日营养所需的个性化食谱。</br></br>



<a href="inforec">注册信息</a></br></br>
<a href="dishrec">菜品推荐</a></br></br>
<a href="dailyrec">每日食谱</a></br></br>

<form  method="get" action="dish" >
    id:</br></br>
    <input class = "box" type="text" name="id" placeholder="你的注册账号6位数" style="width:300px"/></br>
</br></br>


    nums:</br></br>

    <input class = "searchInput1" type="text" name="nums" style="width:300px" placeholder=" 1代表早餐搭配，2代表早午餐搭配，3代表早中晚"/></br>
    </br>
    









</br><input type="submit" value="Submit" onclick="add_search()">    
</form>
</body>

<script>

{% comment %} function add_search(){
    var val1 = $(".searchInput1").val();
    var val2 = $(".searchInput2").val();

    tmpHtml = '<a href="s + '?id=' + val1+'&nums='+val2'</a>'

    $(".mysearch .all-search").html(tmpHtml)

    window.location.href=search_url + '?id=' + val1+'&nums='+val2;

} {% endcomment %}



</script>

</html>
